.Happy-Clients-Section {
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 4rem;
  gap: 100px;
}

/*  */
.Happy-Clients-Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Happy-Clients-Header .Happy-Clients-Header-Title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.Happy-Clients-Header .Happy-Clients-Header-Desc {
  font-size: 0.9rem;
  font-weight: 400;
}

/* 


*/
.Happy-Clients-Main {
  width: 100%;
  height: 419px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.Happy-Clients-Aside-Img {
  height: 70%;
  width: 28%;
  margin-right: auto;
  aspect-ratio: 1;
  border-radius: 50% 0 50% 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Happy-Clients-Aside-Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
.Reviews-Wrapper {
  display: flex;
  width: 35%;
  height: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.Reviews-Container {
  display: flex;
}

.Reviews-Card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Reviews-Slides-Swiper {
  display: flex;
  gap: 10px;
}

.Reviews-Slides-Swiper button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e7f0fc;
  cursor: pointer;
}

/*  */
.Happy-Clients-Imgs-Handler {
  width: 28%;
  height: 60%;
}
